<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Book|Hotel</title>
    <link rel="stylesheet" href="/static/assets/style.css">
  </head>
  <body> 
    <div class="main-header">
      <div class="header">
        <h1> Book Now</h1>
        <form method="post" action="/">
        <div class="navigation">
          <ul name=" cash">

              <div class="box-container">
                <div class="box">
                  <img src="/static/image/1bedroom.jpg">
                  <p>Superior Room
                    From the moment you enter the air conditioned Superior room at the Tang Palace Hotel 
                    you see the beautifully appointed and fully carpeted room with floor to ceiling sliding
                    glass doors that opens out to a private balcony offering either a poolside or city view.
                    The queen sized bed with bedside light switches, is lavishly made up with high quality bedding and a multitude of pillows and cushions.
                    Personal storage space comes in the form of a built-in wardrobe with sliding doors that reveal an electronic safe, an iron and an ironing board.</p>
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i> 1Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">550 cedis
                    </div>
                    <a href="" name="bed1" class="btn">Book now</a>
                  </div>
                    </div>
              </div>

                    
              <div class="box-container">
                <div class="box">
                  <img src="/static/image/1bedroom2.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i> 1Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">500 cedis
                    </div>
                    <a href="" name="bed2" class="btn">Book now</a>
                  </div>
                    </div>
                     
              </div>
                  


              <div class="box-container">
                <div class="box">
                  <img src="/static/image/queensize.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i>Queensize Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">750 cedis</div>
                    <a href="" name="queen1" class="btn">Book now</a>
                  </div>
                </div>
              </div>


              <div class="box-container">
                <div class="box">
                  <img src="/static/image/queensize2.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i>Queensize Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">700 cedis</div>
                    <a href="" name="queen2" class="btn">Book now</a>
                  </div>
                </div>
              </div>


              <div class="box-container">
                <div class="box">
                  <img src="/static/image/kingsize.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i>Kingsize Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">950 cedis</div>
                    <a href="" name="king1" class="btn">Book now</a>
                  </div>
                </div>
              </div>


              <div class="box-container">
                <div class="box">
                  <img src="/static/image/kingsize1.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i>Kingsize Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">900 cedis</div>
                    <a href="" name="king2" class="btn">Book now</a>
                  </div>
                </div>
              </div>


              <div class="box-container">
                <div class="box">
                  <img src="/static/image/executive.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i>Executive Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">1500 cedis</div>
                    <a href="" name="exe1" class="btn">Book now</a>
                  </div>
                </div>
              </div>


              <div class="box-container">
                <div class="box">
                  <img src="/static/image/executive1.jpg">
                  <div class="content">
                    <h3>
                      <i class="fas fa-map-marker-alt"></i>Executive Bedroom
                    </h3>
                    <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="price">1300 cedis</div>
                    <a href="" name="exe2" class="btn">Book now</a>
                  </div>
                </div>
              </div>
              {% if success %}
               Room Booked Succescfully

               {% endif %}



                  <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-5">
                  <img src="/static/image/1bedroom.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">1 Bedroom</h5>
                    <p class="card-text">550 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div> -->


              <!-- <div class="col">
                <div class="card h-20">
                  <img src="/static/image/1bedroom2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">1 Bedroom</h5>
                    <p class="card-text">500 cedis</p>
                  </div>
                </div>
              </div> -->


              <!-- <div class="col">
                <div class="card h-20">
                  <img src="/static/image/queensize.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Queensize Bedroom</h5>
                    <p class="card-text">750 cedis</p>
                  </div>
                </div>
              </div> -->


              <!-- <div class="col">
                <div class="card h-20">
                  <img src="/static/image/queensize2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Queensize Bedroom</h5>
                    <p class="card-text">700 cedis</p>
                  </div>
                </div>
              </div> -->


              <!-- <div class="col">
                <div class="card h-20">
                  <img src="/static/image/kingsize.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Kingsize Bedroom</h5>
                    <p class="card-text">950 cedis</p>
                  </div>
                </div>
              </div> -->

<!-- 
              <div class="col">
                <div class="card h-20">
                  <img src="/static/image/kingsize1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Kingsize Bedroom</h5>
                    <p class="card-text">900 cedis</p>
                  </div>
                </div>
              </div> -->


              <!-- <div class="col">
                <div class="card h-20">
                  <img src="/static/image/executive.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Executive Bedroom</h5>
                    <p class="card-text">1500 cedis</p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col">
                <div class="card h-20">
                  <img src="/static/image/executive1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Executive Bedroom</h5>
                    <p class="card-text">1300 cedis</p>
                  </div>
                </div>
              </div>
            </div> -->
          </ul>
        </div>
      </form>
                     <!-- [END FORM] -->
      </div>   
    </div>
  </body>
</html>

