<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rooms|Hotel</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body> 
    <div class="main-header">
      <div class="header">
        <h1> Rooms</h1>

                             <!-- [FORM] -->
        <form method="post" action="/">
        <div class="navigation">
          <ul>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                 <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/1bedroom.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">1 Bedroom</h5>
                    <p class="card-text">550 cedis</p>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
              </div>
              </label>
            </div>
           
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/1bedroom2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">1 Bedroom</h5>
                    <p class="card-text">500 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/queensize.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Queensize Bedroom</h5>
                    <p class="card-text">750 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/queensize2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Queensize Bedroom</h5>
                    <p class="card-text">700 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/kingsize.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Kingsize Bedroom</h5>
                    <p class="card-text">950 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/kingsize1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Kingsize Bedroom</h5>
                    <p class="card-text">900 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/executive.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Executive Bedroom</h5>
                    <p class="card-text">1500 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/image/executive1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Executive Bedroom</h5>
                    <p class="card-text">1300 cedis</p>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
        {{Errormessage}}
      </form>
                     <!-- [END FORM] -->
      </div>   
    </div>
  </body>
</html>


